# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Standard Flutter/iOS/Android/macOS exclusions
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Pods/
macos/.symlinks/
macos/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/key.properties
android/app/src/main/res/raw/google_services.json
.flutter-plugins
.packages
.pub-cache/
.dart_tool/

# Sensitive Files
.env
*.env
*.key
python_secrets.py
service_account.json
gemini_api.key
google-services.json
GoogleService-Info.plist
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist
**/macos/Runner/GoogleService-Info.plist

# Backups
*.zip
*_backup_*.zip

# Build Artifacts
*.ipa
*.apk
*.aab

yedek_m3_2026_03_24.tar.gz
